html {

width: 100%;
height: 100%;
}

body {
width: 100%;
height: 100%;
margin: auto 0px;
background: url(./images/thing.jpg) no-repeat center center fixed;
background-color: #000000;

display: flex;
align-items: center;
justify-content: center;

}

h1 {
  color: #ffffff;
  font-family: helvetica, sans-serif;
}
